body {
    text-align: center;
}

h1 {
    font-size: 45px;
}

#title, #option {
    display: flex;
    justify-content: center;
}

#option_1, #option_2 {
    margin: 10px;
}

button {
    font-size: 35px;
    background-color: rgb(255, 238, 0);
    border: 3px solid green;
    border-radius: 12px;
    color: orange;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

button:hover {
    border: 1px solid beige;
    border-radius: 12px;
    color: beige;
    background-color: red;
}
/*
#option_1 button {
    color: green;
}

#option_1 button:hover {
    color: beige;
    background-color: green;
}

#option_2 button {
    color: blue;
}

#option_2 button:hover {
    color: beige;
    background-color: blue;
}*/