@media (max-width:500px) and (max-height:900px) {
    #title h1 {
        font-size: 30px;
    }

    #option button {
        text-align: center;
        font-size: 22px;
        width: 90px;
        height: 35px;
        
    }
}