@media (max-width:500px) and (max-height:900px) {
    #title h1 {
        font-size: 30px;
    }

    #option button {
        text-align: center;
        font-size: 10px;
        width: 50px;
        height: 30px;
        padding: 5px 10px;
    }
}